[Desktop Entry]
Encoding=UTF-8
Name=MeshLab
Name[en]=MeshLab
Name[es]=MeshLab
Comment=AppImage MeshLab
Comment[en]=AppImage MeshLab
Comment[es]=Aplicación MeshLab
Icon=meshlab
Exec=vx-meshlab %F
Terminal=false
Type=Application
Categories=Education;Escuela40;
StartupNotify=true
Hidden=false