[Desktop Entry]
Encoding=UTF-8
Name=MeshLab
Name[en]=MeshLab
Name[es]=MeshLab
Comment=AppImage MeshLab
Comment[en]=AppImage MeshLab
Comment[es]=Aplicación MeshLab
Icon=meshlab
Exec=vx-meshlab %F
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;Engineering;
StartupNotify=true
Hidden=false
MimeType=application/vnd.meshlab-project;