Source: vx-dga-x-meshlab
Section: education
Priority: optional
Maintainer: Gabriel Navia <correos@gabrielnav.es>
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 13)

Package: vx-dga-x-meshlab
Architecture: amd64
Depends: ${misc:Depends}
Description: Lanzador de MeshLab AppImage para Vitalinux
 Este paquete instala MeshLab AppImage en /usr/lib/meshlab/
 y crea un acceso directo en el menú de aplicaciones de Vitalinux.
